

::-webkit-scrollbar {
    display: none;
}

html {
    scrollbar-width: none;
    -ms-overflow-style: none;
}

body {
    background-color: white;
    filter: sepia(0%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 80vh;
    margin: 0;
    text-align: center;
    animation: slidein 4s ease;
    font-size: 40px;
 
    user-select: none;
}
/* @keyframes slidein {
0%  {
    margin-top: 100%;
    filter: blur(5px);
    }
100%{
    margin-top: 0%;
    filter: blur(0);
    }
} */

.ref {
    display: inline-block;
    color: rgb(0, 0, 0); 
    text-decoration-style: dotted;
    text-decoration-color: rgba(0, 0, 0, 0.5);
    transform: none;
    transition: all 0.3s ease;
}
.ref:hover {
    opacity: 0.8;
    transform: scale(1.1, 1.1);
    transition: all 0.3s ease;
}
.ref:active {
    transform: scale(1.1, 1.1);
    transition: all 0.3s ease;
}
.audio {
    display: flex;
    width: 400px;
    height: 80px;
    justify-content: center;
    margin-top: 20px;
    margin: 20px auto 0;
    align-items: center;
    border-radius: 10px;
    flex-direction: column;
    font-size: 10px;
    flex-wrap: nowrap;
    border: 3px solid black;
    position: relative;
}

.song_name {
    display: inline;
    float: none;
    font-weight: 600;
    position: absolute;
    top: -10px;
    left: 70px;
    border: none;
}
.play {
    display: block;
    width: 45px;
    height: 45px;
    position: absolute;
    left: 10px;
    border-radius: 50px;
    cursor: pointer;
    border: 3px solid black;
}
.song_bar {
    display: block;
    width: 300px;
    height: 3px;
    background-color: black;
    position: absolute;
    left: 70px;
}
.link {
    margin-left: 2.5px;
    margin-right: 2.5px;
}
.song_time {
    -webkit-appearance: none;
    appearance: none;
    position: absolute;
    top: -5px;
    left: -4px;
    width: 304px;
    background: transparent; 
    border-radius: 10px;
    height: 8px;
    cursor: pointer;
    
}
.song_time::-webkit-slider-runnable-track {
    width: 304px;
    height: 8px;
    border-radius: 10px;
}

.song_time::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 16px;
    height: 16px;
    background: black;
    border-radius: 50%;
    cursor: pointer;
    margin-top: -4px;  
}

.current-time, .song-duration {
    font-size: 19px;
    position: absolute;
    top: 10px;
    font-weight: 600;
}

.song-duration {
    right: 0;
}
.current-time {
    left: 0;
}

.play.playing {
    background: black;
}

#themeButton {
    display: block;
    width: 65px;
    height: 65px;
    position: relative;
    left: 10px;
    top: 10px;
    border-radius: 50px;
    cursor: pointer;
    border: 3px solid black;
    font-size: 22px;
    font-weight: 600;
    background-color: rgba(255, 255, 255, 0);
    justify-content: center;
    z-index: 2;
}
#themeText {
    display: flex;
    position: relative;
    left: 17.5px;
    top: -52.5px;
    font-size: 18px;
    font-weight: 600;
    z-index: 1;
}



        
